# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Open office files -- normally I'll just push CSVs to the repo
*.ods

# Graphics files, that may not have been moved from the scripts folder yet
*.tif
*.tiff
*.jpg
*.png
iPython_Notebooks/.ipynb_checkpoints/CopyDirs_Dunbar-checkpoint.ipynb
iPython_Notebooks/.ipynb_checkpoints/MODIS_Data-checkpoint.ipynb
iPython_Notebooks/Dinkey_Creek/.ipynb_checkpoints/DinkeyCreek-checkpoint.ipynb
iPython_Notebooks/Dinkey_Creek/FWI_input_to_landis.csv
iPython_Notebooks/Dinkey_Creek/.ipynb_checkpoints/DinkeyCreek-checkpoint.ipynb
iPython_Notebooks/Dinkey_Creek/FireWeatherIndex_Calculations.pyc
iPython_Notebooks/Dinkey_Creek/.ipynb_checkpoints/FireWeather_Prep-checkpoint.ipynb
iPython_Notebooks/.ipynb_checkpoints/NMEG_Analysis_Plots-checkpoint.ipynb
iPython_Notebooks/Dinkey_Creek/.ipynb_checkpoints/DinkeyCreek-checkpoint.ipynb
